<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<!-- dotnet-tools contains Microsoft.DotNet.Interactive.VisualStudio package, which is used by AutoGen.DotnetInteractive -->
		<add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
		<add key="AutoGen" value="$( https://nuget.pkg.github.com/microsoft/index.json)" />
		<!-- replace $(FEED_URL) with the feed url -->
		<!-- other feeds -->
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
	<disabledPackageSources />
</configuration>
